body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  overflow-x: hidden;
}

.arriba {
  display: flex;
  flex-direction: column;
}
.header{
  background-image: url("header.jpg");

}

.header {
  background-size: 1200px 700px;
  background-repeat: no-repeat;
  display: flex;
  padding: 200px;
}

.logo {
  position: static;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px;
  margin-left: 10px;
}

.nav {
   position: absolute;
    top: 0;
    right:0px;
    display: flex;
    width: 100%;
    padding: 30px;

}
.social {
  color: rgb(97, 95, 95);
  padding: 5px;
  margin: 5px;
}

.social {
  width: 20%;
  position: initial;
}

.nav {
  width: 70%;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #ff851b;
  text-align: center;
  margin-bottom: 20px;
}

.centro {
  display: flex;
  margin: 10px 0;
}

.left-column {
  background-color: rgb(209, 207, 207);
  padding: 10px;
  margin-right: 10px;
  width: 80%;
}

.right-column {
  background-color: rgb(194, 193, 193);
  padding: 10px;
  width: 20%;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.article {
  display: flex;
  width: 30px;
  height: 220px;
  margin: 10px 10px;
  padding: 20px 30px;
}
.navegacion {
  color: rgb(17, 16, 16);
  font-weight: bold;
  padding: 20px;
  margin: 10px 10;
}

.publicidad {
  background-color: #f3f0ed;
  padding: 20px;
  margin: 5px 0;
}
.arriba,
.centro,
.abajo {
  background-color: rgb(235, 230, 230);
  padding: 20px;
  margin: 10px;
}

.pie {
  background-color: #edece6;
  padding: 30px;
  text-align: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .header {
    background-image: url("header.jpg");
    background-size: 1024px;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: left;
  }

  .logo,
  .nav,
  .social {
    width: auto;
    text-align: left;
  }
  .arriba,
  .centro,
  .abajo {
    margin-right: 10px;
  }

  .centro {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: auto;
    margin: 5px 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .arriba,
  .centro,
  .abajo {
    margin-right: 10px;
  }
  .header {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("header.jpg");
    flex-direction: column;
    align-items: column;
    margin-right: 10px;
  }

  .logo,
  .nav,
  .social {
    width: auto;
    text-align: center;
    margin: 10px 0;
  }

  .centro {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 50px;
    margin: 5px 0;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 24px;
  }
}
