body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.top {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.logo{
  padding: 12px;
  display: inline-flex;
  vertical-align: middle;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  width: 20%;
}
.nav{
  padding: 12px;
  display: inline-flex;
  vertical-align: middle;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  width: 55%;
}
.social {
  padding: 12px;
  display: inline-flex;
  vertical-align: middle;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  width: 20%;
}
.banner {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-decoration-break: clone;
  box-shadow: 10px 4px 8px rgb(197, 222, 8);
}
.h1{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
 
}

middle {
  width: 60%;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  
}
.left-column,
.right-column {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  font-weight: bold;
}
.right-column {
  margin-right: 0;
  gap: 20px;
}
.article{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.pie{
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
